<footer class="site-footer overlap-top overlap-bottom">
    <div class="inner"><div class="flex-container">
            <div class="flex-item contact left">
                <p><strong>Phone:</strong> 574-213-4559</p>
                <p><strong>Email:</strong><a href="mailto:dirtywhitecouchstudio@yahoo.com" target="_blank"> dirtywhitecouchstudio@yahoo.com</a></p>
            </div>
            <div class="flex-item contact right">
                <a href="{{facebook_url}}" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                <a href="mailto:dirtywhitecouchstudio@yahoo.com" target="_blank"><i class="fa fa-envelope fa-2x"></i></a>
                <a href="https://soundcloud.com/dirty-white-couch-studio" target="_blank"><i class="fa fa-soundcloud fa-2x"></i></a>
            </div>
        </div>
        <hr>
        <div class="flex-container">
            <div class="flex-item left">
                <p><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</p>
            </div>
            <div class="flex-item right">
                <p>This <a href="http://github.com/aachokey/dirtywhitecouch">site</a> runs on <a href="http://ghost.org/">Ghost.</a></p>
            </div>
        </div></div>
</footer>