.swiper-container {
    width: 100%;
    height: 80vh;
}

@media only screen and (max-width: 624px) {
	.swiper-container {
		width:100vw;
		margin-left: -45px;
	}
	.swiper-button-next {
		right: 25px;
	}
}

.swiper-slide {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}